:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  padding: 20px 10px;
  background: linear-gradient(135deg, #0f111a 0%, #1b1e2a 100%);
  color: #e4e6eb;
  font-family: "Century Gothic", helvetica, arial, sans-serif;
  font-size: 1.4em; /* equiv 14px */
  line-height: 1.5; /* adapt to your design */
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

header {
  padding-block: 40px;
}

main {
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

h1,
.h1-like {
  font-size: 1.8571em; /* equiv 26px */
  font-weight: normal;
  line-height: 1.6154em;
  margin: 0.8077em 0 0 0;
}

h3,
.h3-like {
  font-size: 1.1em; /* equiv 22px */
  font-weight: normal;
  line-height: 1.909em;
  margin: 0.9545em 0 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #1b1e2a;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(88, 101, 242, 0.3);
  transition: all 0.3s ease;
}
.cards:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
