.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 45px;
    height: 100vh;
    transition: 0.6 ease;
    overflow: hidden;

        &:hover {
            width: 220px; 
            background: #1b1b1b; 
            
        }

        ul {
            list-style: none;
            padding: 10px;
                &:hover {
                    opacity: 1;
                }
        }

        li {
            padding: 12px 0;
            cursor: pointer;
            color: white;
            white-space: nowrap;
            opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
        }
}